<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="WcfServiceLibrary.MyMath">
        <endpoint address="http://localhost//WindowsServiceHostDll/MyMath/ep1"
                  binding="basicHttpBinding" bindingConfiguration="" contract="WcfServiceLibrary.IMyMath"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost//WindowsServiceHostDll/MyMath"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>